<h1>{{title}}</h1>

<input type="text" #name placeholder="Name" name="name"> <br>
<input type="text" #address placeholder="Enter your Address" name="address"> <br>
<input type="email" #email placeholder="Enter your email" name="email"> <br>
<input type="text" #contact placeholder="Enter your Contact" name="contact"> <br>
<input type="password" #password placeholder="Password" name="password"> <br>

<button (click) = "getValue(name.value, address.value, contact.value, email.value)">Register</button>

<h1>Your Registered Data</h1> <br>
<p>Name: {{displayname}}</p>
<p>Address: {{displayaddress}}</p>
<p>Contact: {{displaycontact}}</p>
<p>email: {{displayemail}}</p>
